.category-title {
  margin-bottom: 5px;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  margin-bottom: 35px;
}

.carousel-container:hover .navigate-prev,
.carousel-container:hover .navigate-next {
  opacity: 1;
}


.movieContainer {
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.navigate-prev, .navigate-next {
  font-size: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  width: 40px;
  height: 235px;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
}

.navigate-prev {
  left: -10px;
}


.navigate-next {
  right: 0;
}