header {
  position: fixed;
  width: 100vw;
  height: 70px;
  z-index: 999;
  padding-top: 15px;
  transition: all ease 0.3s;
}

.black-header {
  background:  rgb(20, 20, 20);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 10px;
}

.left-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100px;
  margin-right: 25px;
}

.left-header a {
  text-decoration: none;
  color: white;
  margin-right: 25px;
  font-size: 14px;
  font-weight: bold;
}

.right-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-icon {
  font-size: 2rem;
  margin-right: 25px;
  cursor: pointer;
}

.notification-icon {
  font-size: 1.8rem;
  margin-right: 25px;
  cursor: pointer;
}

.right-header img {
  width: 2rem;
  cursor: pointer;
}